/*
* Color
* blue : #2471a3 ;
* yellow : #f1c40f;
*/

/***Special adapted Boootstrap***/
	.btn-primary, .btn-primary:focus {
		background-color : #f1c40f ;
		border-color : #f1c40f ;
	}
	.btn-primary:hover {background-color: #f5d34b ; border-color: black;}
	.btn-primary:focus {box-shadow: 0 0 0 .25rem rgba(241,196,15,.5);}

	.accordion-button, .accordion-collapse {border: 3px solid #2471a3;}
	.accordion-collapse {
		margin-right: 10px;
		margin-left: 10px;
		border: 2px solid #2471a3aa;
		border-bottom-width: 0px;
		border-top-width: 0px;	
	}
	.accordion-item:last-of-type .accordion-collapse{border-bottom-width: 2px;}
	.accordion-item:last-of-type .accordion-button.collapsed {border-bottom-width: 3px;}
	
	.accordion-button {
		position: static ;
		font-weight: bold;
		color : black;
	}
	.accordion-button:not(.collapsed) {
		color: black;
		background-color: #f1c40f55;
	}
	.accordion-button:hover{
		background-color: #f1c40f55;
	}
	.accordion-button:focus {
		border-color: #2471a3;
		box-shadow: 0 0 0 .10rem rgba(13,110,253,.25);
	}


/***Balise HTML***/
	h1 {
		font : bold 2em "Verdana";
		color : white ;
	
		background-color : #2471A3 ;
		border : 5px solid white ;
	}

	h2 {
		font-size: 1.5rem;
		font-weight: bold;
		color: #f1c40f;
	}
	h2 a {
		color: #f1c40f;
		text-decoration: none;
	}
	h2 a:hover {
		color: #f1c40faa;
	}

	h3 {
		margin-left: 50px;

		font-size: 1.2rem;
		font-weight: bold;
		color: black;
	}
	h3 a{
		color: black;
		text-decoration: none;
	}
	h3 a:hover {
		color: #000000aa;
	}

	img {max-width: 100%;}

	a.external{
		background-image: url(../img/icon/external_link.png); /*Image de lien externe*/
		background-position: center right;
		background-repeat: no-repeat;
		padding-right: 15px;
	}
	a.internal {
		background-image: url(../img/icon/internal_link.png); /*Image de lien interne*/
		background-position: center right;
		background-repeat: no-repeat;
		padding-right: 15px;
	}
	a.internal.blackIcon {
		background-image: url(../img/icon/internal_link_black.png); /*Image de lien interne*/
	}
	a.internal.whiteIcone {
		background-image: url(../img/icon/internal_link_white.png);
	}

	p {
		text-indent: 50px;
		text-align: justify;
	}

	footer {background-color : #2471A3 ; color : white ;}

/***Général***/
	.divTitle {
		text-align : center ;
		font-weight: bold ;
		font-size: 2.5rem ;
		color : #f1c40f ;
	}

	.separator {
		width : 100% ;
		height : 5px ;
		background-color : #2471a3 ;
	}

/***Menu***/
	.title {color : white ;}
	
	.firstBackground {background-color: #ffffff;}
	#headerMenu {background-color : #2471a3aa ;}
	
	#zoneIcone {color : white ;}
	.zoneIcone:hover {background-color: #f5d34b ;}

	#collapseMenu {background-color : #f5d34b ;}

	.menuLink {
		color : white ;
		font-weight : bold ;
		font-size: 1.5rem ;
	}
	.menuLink:hover {color : #2471a3 ;}

	.nav-item.active {background-color: #2471a3 ; pointer-events: none;}
	.nav-item.fakeActive {background-color : #2471a3 ;}

	.dropdown-menu {
		background-color: #f5d34b;
		border-color : #f5d34b ;
	}

	.dropdown-item {
		color: white ;
		font-weight: bold ;
	}
	.dropdown-item:hover {
		color: white ;
		font-weight: bold ;
		background-color: #2471a3 ;
	}

	.dropdown-item.active {background-color: #2471a3 ; pointer-events: none;}

/***Présentation Assos***/
	#zoneAsso {padding : 20px ;}
	
	.titleCenterOrange {
		display: flex ;
		text-align : center ;
		font-weight: bold ;
		font-size: 2.5rem ;
		color : #f1c40f ;
	}

	.btnAsso {
		height : 180px ;
		width : 180px ;
		text-decoration: none ;
		color: white ;
		font-weight: bold ;
	}
	.btnAsso:hover {
		background-color : #00000022 ;
		text-decoration : underline ;
		color : white ;
		cursor : pointer ;
	}
	.btnAsso.active{background-color : #00000022 ;}

	.btnListe {
		display : flex ;
		width : 100% ;
		justify-content : center ;
		align-items : center ;
	}

	.btnLogoAsso {max-height: 100px ;}

	#zoneAssoLogo {
		max-height: 650px ;
		overflow: auto ;
	}

	.txtAsso {
		padding : 5px ;

		color : white;
	}

	.assoName {
		color: white;
	}

	#logoAsso1, .Asso1Txt{background-color : #000 ;}
	#logoAsso1:hover{background-color: #000000aa ;}
	#logoAsso2, .Asso2Txt{background-color : #5a005a ;}
	#logoAsso2:hover{background-color : #5a005abb ;}
	.Asso3Txt{background-color : #1F3F7C ;}
	#logoAsso4, .Asso4Txt{background-color : #2cb7b9 ;}
	#logoAsso4:hover{background-color : #2cb7b9bb ;}
	#logoAsso5, .Asso5Txt{background-color : #005221 ;}
	#logoAsso5:hover{background-color : #005221dd ;}
	#logoAsso6, .Asso6Txt{background-color : #ffd700 ;}
	#logoAsso6:hover{background-color : #ffd70099 ;}
	#logoAsso7, .Asso7Txt{background-color : #fc9303 ;}
	#logoAsso7:hover{background-color : #fc9303dd ;}
	#logoAsso8, .Asso8Txt{background-color : #ce0018 ;}
	#logoAsso8:hover{background-color : #ce0018bb ;}
	#logoAsso9, .Asso9Txt{background-color : #663300 ;}
	#logoAsso9:hover{background-color : #663300dd ;}
	#logoAsso10, .Asso10Txt{background-color : #fff ; color: black;}
	#logoAsso10:hover{background-color : #00000022 ;}

	#zoneAssoTxt {
		position : relative ;
	}

	#zoneBtnClose {
		display: flex ;
		position : absolute ;
		top : 20px ;
		right : 20px ;
		width : auto ;
		height: auto ;
		border-radius : 50%;

		background-color: white ;
	}
	#zoneBtnClose:hover {background-color : grey ;}

/***News***/
	.divNews {
		margin-top : 10px ;
		border : solid;
		border-color : white ;
		border-radius: 0px 20px 20px 0px;
	}
	.divNews:hover {
		background-color: #2471a3aa ;
		color : white ;
	}

	.divNewsTxt {
		padding-left : 10px ;
	}

	.bigNewsTitle {
		font-weight : bold ;
		font-size : 2rem ;
	}

	.newsTitle {
		font-weight: bold;
		font-size: 1.5rem;
	}

	.newsAuthorDate {
		font-style : italic;
		color: black ;
	}

	.newsLeadPara {
		font-weight: bold;
	}

	#divLinkNewsletter {
		margin-bottom: 20px ;
		text-align : center ;
	}

	#linkNewsletter {
		font-weight : bold ;
		font-size : 4rem ;
		color : #f1c40f ;
	}
	#linkNewsletter:hover{
		color : #2471a3 ;
	}

/***Newsletter***/
	.titlePart {
		font-weight: bold ;
		font-size: 2rem ;
		color : #2471a3 ;
	}
	
	.titleSubPart {
		font-weight: bold;
		font-size: 1.5rem;
		color : black;
	}

	.subtitle {
		font-weight: bold;
		font-size: 1rem;
		color : #f1c40f;
	}

/***Project***/
	#accordionProject {
		margin-right: 50px;
		margin-left: 50px;
	}

/***Footer***/
	.footerLink{
		width: unset;

		color: white;

		text-decoration: none;
	}
	.footerLink:hover {
		color : #f1c40f ;
	}

	.vertTextSeparator {
	    display: flex;
	    height: 1rem;
	    width: 0.15rem;
	    background-color: white;
	    margin-left: 1rem;
	    margin-right: 1rem;
	}