body{
	background-color : #fefefe ;
	height: 100%;
}

.toChange {
	background-color : #b2ef00 ;
}

.tCThumbnail {
	height : 140px ;
	background-color : #b2ef00 ;
}

/***Page d'Accueil***/

		/*---Zone WOW---*/
			#zoneWow {
				position : fixed;
				top : 0px ;
				left: 0px ;
		
				width : 100% ;
			
				background-color: #00000077 ;
			}
			
			#zoneTxtWow {
				height : 100vh ;
				width : 100% ;
			}

			#zoneWowTitle {
				position: absolute;
				top: 7vh;left: 50%;
				transform: translate(-50%, 0);
				z-index: 1;

				background-color: #2471a3;
				border: solid 5px #f1c40f;
				border-radius: 5px;

				font-weight: bold ;
				font-size: 5rem ;
				color : white ;

				text-align: center;
				white-space: nowrap;
			}
			
			#zoneCloseButton {
				position: fixed ;
				z-index: 1;
				bottom : 10px ;
				right : 10px;
			}

			.divPhotoCarou {
				display: flex;
				margin-top: 2vh;
				margin-bottom: 2vh;
			}

			.photoCarousel {
				margin-left: auto;
				margin-right: auto;
				width: auto;
				height: 96vh;
			}

	/*---Menu---*/
		#zoneMenu {
			position : sticky;
			top : 0px ;
		}
		
		.title {
			font-size: 2em ;
			font-weight: bold ;
		}
		
		#zoneIcone {
			padding-left : 5px ;
			padding-right : 5px ;  
		
			font-size: 1em ;
			font-weight: bold ;
		}

		#zoneButtCollapse {text-align: right ;}
		
		#collapseMenu {border-radius : 0px 0px 60px 60px ;}
		
		#rowMenu {
			padding-top : 10px ;
			padding-bottom: 10px ;
		}

		.zoneBtnMenu {
			padding-right : 5px ;
		}
		
		.btnMenu {
			width : 100% ;
			height : 100% ;
		}
		.btnMenu:hover {background-color : #f8f9faDD ;}
		
		.btnHeaderMenu {
			font-weight : bold ;
		}

		.btnEtuO {
			font-size: 0.75em ;
		}

	/*---Page---*/
		#zoneWelcome {margin-top: 10px ;}

		#zoneIntro {text-align: center;}

		h1 {
			border-radius : 30px ;
			padding-left : 30px !important;
			padding-bottom : 10px !important;
			padding-top : 10px !important;
		}

/*---Footer---*/
	footer {
		bottom : 0 ;
		padding-top : 10px ;
		padding-bottom : 20px ;
	
		font-weight : bold ;
	}

/*--Tools--*/
.allCenter {
	margin : auto ;
	text-align: center;
}

/*Centrer verticalement et horizontal, besoin de display flex*/
.allCenterFlex {
	justify-content : center;
	align-items : center;
}